 body {
            font-family: Times New Roman;
	    margin:50px;
        }
        mainheader {
            text-align: center;
        }
	
        table {
            margin: auto;
	    background-color:paleturquoise;
            border-collapse: collapse;  
        }
        th, td {
            border: 1px solid #000;
            padding: 8px;
        }
        th {
            Background-color:lightgray;
        }
        img {
            display: block;
            margin: auto;
        }